name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    - name: Setup go
      uses: actions/setup-go@v1
      with:
        go-version: '1.13.x'
    - name: Run Static Checks
      run: GOBIN=$PWD/bin go install honnef.co/go/tools/cmd/staticcheck && ./bin/staticcheck ./...
    - name: Run Tests
      run: go test -race -mod vendor -v ./...
  release:
    runs-on: ubuntu-latest
    needs: [ test ]
    steps:
    -
      name: Check out code into the Go module directory
      uses: actions/checkout@v1
    -
      name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: '1.13.x'
    -
      name: Docker Login
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    -
      name: goreleaser
      uses: goreleaser/goreleaser-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        version: latest
        args: release
      if: success()
    - name: Slack
      uses: rtCamp/action-slack-notify@master
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
